<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Lead4Tomorrow Calendar App.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>8BB400522CE005CE00DF3B78</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8BB400622CE005CF00DF3B78</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8BB4006C2CE005CF00DF3B78</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
